Repository spacelab-ufsc/spacelab-transmitter, pull requests merged in 2022-04, with the labels that each got.

#11 Dev: First merge
  AUTHORS
  CHANGELOG
  README.md
  docs/Installation.rst
  docs/Makefile
  docs/Overview.rst
  docs/conf.py
  docs/index.rst
  docs/make.bat
  requirements.txt
  setup.cfg
  setup.py
  spacelab-transmitter/__init__.py
  spacelab-transmitter/__main__.py
  spacelab-transmitter/data/satellites/floripasat-1.json
  spacelab-transmitter/data/satellites/floripasat-2.json
  spacelab_transmitter.desktop
Labels: documentation, project-structure, setuptools, packaging, sphinx

#14 UI unit test
  .github/workflows/test.yml
  tests/test_ui.py
Labels: ui, glade, tests

#17 Feature event log tree view
  spacelab_transmitter/data/ui/spacelab_transmitter.glade
  tests/test_ui.py
Labels: ui, glade, tests, log

#22 Release v0.1
  .github/workflows/sphinx-build.yml
  .github/workflows/sphinx-deploy.yml
  .github/workflows/test.yml
  CHANGELOG
  README.md
  docs/Overview.rst
  docs/conf.py
  docs/enterprise.png
  docs/img/front_page.png
  docs/index.rst
  docs/requirements.txt
  requirements.txt
  setup.py
  spacelab-transmitter/data/satellites/floripasat-1.json
  spacelab-transmitter/data/satellites/floripasat-2.json
  spacelab_transmitter/__init__.py
  spacelab_transmitter/__main__.py
  spacelab_transmitter/data/img/spacelab-logo-full-400x200.png
  spacelab_transmitter/data/img/spacelab_transmitter_256x256.png
  spacelab_transmitter/data/satellites/floripasat-1.json
  spacelab_transmitter/data/satellites/floripasat-2.json
  spacelab_transmitter/data/ui/spacelab_transmitter.glade
  spacelab_transmitter/spacelabtransmitter.py
  spacelab_transmitter/version.py
  tests/test_ui.py
Labels: releases
